.add-button{
    position: absolute;
    right: 0vw;
    top: -2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-color);
    width: 2vw;
    height: 2vw;
    border-radius: 50vw;
    outline: none;
    border: none;
    cursor: pointer;
}

.remove-button{
    position: absolute;
    right: -0.5vw;
    top: -2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-color);
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50vw;
    outline: none;
    border: none;
    cursor: pointer;
}

.material-symbols-outlined{
    color: var(--black-color);
    font-size: 1.5rem;
}

/* RESPONSIVE DESIGNE */

@media (max-width:769px) {
    .material-symbols-outlined{
        font-size: 1rem;
    }
    
}

@media(max-width: 425px){
    .add-button{
        width: 6vw;
        height: 6vw;
    }
    
    .remove-button{
        width: 5vw;
        height: 5vw;
    }
    .material-symbols-outlined{
        font-size: 1.5rem;
    }

}

@media(max-width: 325px){
    .material-symbols-outlined{
        font-size: 1rem;
    }

}