*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    color: var(--light-grey-color);
}
:root{
    --black-color: #0F0F0F;
    --grey-color: #61677A;
    --light-grey-color: #D8D9DA;
    --white-color: #FFF6E0;
}


body{
    background-color: var(--black-color);
}

.title{
    padding-left: 5vw ;
    padding-top: 3vh;
    text-align: left;
}

.filter-container{
    width: 50%;
    padding: 2vh;
    margin: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.clear-filters-button{
    background-color: var(--grey-color);
    color: var(--black-color);
    font-weight: 900;
    padding: 1vh;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
}
.clear-filters-button:active{
    background-color: var(--light-grey-color);
    outline: 1px solid black;

}

.books-containers{
    display: flex;
    max-width: 98%;
    margin: 5vh auto;
    justify-content: space-between;
}

/* RESPONSIVE */
@media (max-width:425px){

    .title{
        text-align: center;
    }
    .filter-container{
        width: 98%;
        margin: 3vh auto;
        align-items: center;
    }
    .books-containers{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 3vh auto;
    }
}

@media (max-width: 325px){
    .filter-container{
        flex-direction: column;
        height: 25vh;
    }

}